<footer>
  <hr>
  <p><b>Is the translation of this page incomplete, or do you want to add a new language? Use <a href="https://hosted.weblate.org/projects/vikdevelop/savedesktop-github-wiki/">Weblate</a>.</b></p>
  <ul style="list-style-type: none; padding: 0; display: flex;">
    <li style="margin-right: 20px;"><a href="https://github.com/vikdevelop/SaveDesktop?tab=readme-ov-file#sending-issues">Report an Issue</a></li>
    <li style="margin-right: 20px;"><a href="https://vikdevelop.github.io/SaveDesktop">SaveDesktop Installation</a></li>
    <li style="margin-right: 20px;"><a href="https://vikdevelop.github.io/SaveDesktop/wiki">Wiki Homepage</a></li>
    <li style="margin-right: 20px;"><a href="https://github.com/vikdevelop/SaveDesktop">Source Code</a></li>
  </ul>
</footer>
