[Desktop Entry]
Name=SaveDesktop
Categories=Utility
Comment=Save and apply Xfce and GNOME-based desktop environments configuration
Comment[cs]=Uložit a použít konfiguraci Xfce a na GNOME založených prostředích
Exec=run.sh
Type=Application
Icon=com.github.vikdevelop.SaveDesktop
