[Desktop Entry]
Name=SaveDesktop
Categories=Utility
Comment=Save the current configuration of your desktop environment
Comment[cs]=Uložit aktuální konfiguraci vašeho desktopového prostředí
Comment[fr]=Sauvegarder la configuration actuelle de votre environnement de bureau
Comment[pt_BR]=Salvar a configuração atual do seu ambiente desktop
Comment[it]=Salva la configurazione corrente del tuo ambiente desktop
Comment[nl]=Sla de huidige voorkeuren van uw werkomgeving op
Comment[ar]=احفظ التخصيصات الحالية لبيئة سطح المكتب الخاص بك
Comment[ru]=Сохранить текущую конфигурацию окружения рабочего стола
Comment[id]=Save the current configuration of your desktop environment
Comment[uk]=Збережіть поточну конфігурацію середовища робочого столу
Comment[nb_NO]=Lagre nåværende oppsett av skrivebordsmiljøet ditt
Comment[hu]=Mentsd el az asztali környezeted jelenlegi konfigurációját
Comment[es]=Guarda la configuración actual de tu entorno de escritorio
Comment[tr]=Masaüstünün şuanki ayarlarını kayıt et
Exec=run.sh
Type=Application
Icon=io.github.vikdevelop.SaveDesktop
