[Desktop Entry]
Name=SaveDesktop
Categories=Utility
Comment=Save your desktop configuration
Comment[cs]=Uložte konfiguraci plochy
Comment[fr]=Sauvegarder la configuration actuelle de votre environnement de bureau
Comment[pt_BR]=Salvar a configuração atual do seu ambiente desktop
Comment[it]=Salva la configurazione del tuo desktop
Comment[nl]=Sla de huidige voorkeuren van uw werkomgeving op
Comment[ar]=احفظ التخصيصات الحالية لبيئة سطح المكتب الخاص بك
Comment[ru]=Сохранить текущую конфигурацию окружения рабочего стола
Comment[id]=Simpan konfigurasi lingkungan desktop Anda saat ini
Comment[uk]=Збережіть поточну конфігурацію середовища робочого столу
Comment[nb_NO]=Lagre nåværende oppsett av skrivebordsmiljøet ditt
Comment[hu]=Mentsd el az asztali környezeted jelenlegi konfigurációját
Comment[es]=Guardar la configuración del escritorio
Comment[tr]=Masaüstünün şuanki ayarlarını kayıt et
Comment[de]=Speichern Sie die aktuelle Konfiguration Ihrer Desktop-Umgebung
Comment[zh]=保存您的桌面环境配置
Comment[ca]=Desa la configuració actual del vostre entorn d'escriptori
Comment[hi]=अपना डेस्कटॉप विन्यास सहेजें
Comment[pt]=Grave a sua configuração da área de trabalho
Exec=run.sh
Type=Application
Icon=io.github.vikdevelop.SaveDesktop
