<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href={{ '/open-issue/css/styles.css' | relative_url }} rel="stylesheet" />
  </head>
  <body>
    {{ content }}
    {% include footer.html %}
  </body>
</html>
