<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href={{ '/open-issue/css/styles.css' | relative_url }} rel="stylesheet" />
  </head>
  <body>
    <div class="container">
        {{ content }}
    </div>
    <div class="copyright py-4 text-center text-white">
        <a href="https://github.com/vikdevelop/SaveDesktop">SaveDesktop app source code</a>
        <a href="https://vikdevelop.github.io/SaveDesktop/open-issue/">Report issue</a>
        <div class="container"><small>&copy; 2023 vikdevelop (<a href="https://github.com/vikdevelop">Github</a>)</small></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
  </body>
</html>
